.container {
   margin:0 auto; /* this will center the page */
   width:960px; /*  use your width here */
}

body {
  color: #cccccc;
  background-color: #151515;
}

p {
  font-family: sans-serif;
}

img {
	height: auto;
	width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
}
